.home_container {
  display: grid;
  grid-template-areas: "social content profile";
  gap: .75rem;
}

.social_buttons {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  grid-area: social
}

.home__content {
  grid-area: content
}

.profile_presentation {
  display: 'flex';
  align-items: 'flex-end';
  flex-direction: 'column';
  grid-area: profile
}

.profile_presentation__paragraph {
  padding: '0 1rem';
  text-align: right
}

@media screen and (max-width: 768px) {
  .home_container {
    grid-template-areas: "content" "profile" "social";
  }

  .social_buttons {
    flex-direction: row;
    place-items: center;
    justify-content: space-between
  }

  .profile_presentation__paragraph {
    text-align: center
  }
}