.home_container {
  display: grid;
  grid-template-areas: "social content profile";
  gap: .75rem;
}

.home__title {
  margin: 0
}

.social_buttons {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  grid-area: social
}

.home__content {
  grid-area: content
}

.profile_presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: profile
}

.profile_presentation__caption {
  display: block;
  width: 100%;
  padding: .35rem 1rem;
  text-align: right;
  position: relative;
}

.profile_presentation__caption::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(to top, #070a2b, transparent);
}

.profile_presentation__image {
  width: 100%
}

.profile_presentation--mobile {
  display: none
}

@media screen and (max-width: 768px) {
  .home_container {
    grid-template-areas: "content" "profile" "social";
  }

  .home__title {
    text-align: center
  }

  .social_buttons {
    flex-direction: row;
    place-items: center;
    justify-content: space-between
  }

  .profile_presentation__caption {
    text-align: center
  }

  .profile_presentation__image { width: 50% }

  .profile_presentation:not(.profile_presentation--mobile) { display: none }
  .profile_presentation--mobile { display: flex }
}