.dropdown {
  position: absolute;
  z-index: 1000;
  transform: scale(0);
  background: #021825f2;
  backdrop-filter: blur(2rem) saturate(180%);
  -webkit-backdrop-filter: blur(2rem) saturate(180%);
  border: 1px solid rgba(255, 255, 255, .12);
  box-shadow: 0 4px 24px #00000014;
  transition: .2s ease transform
}

.dropdown--bottom {
  top: calc(100% + .35rem);
  transform-origin: top right;
  left: -6rem;
}

.dropdown--top {
  bottom: calc(100% + .35rem);
  transform-origin: bottom left;
  left: 0;
}
.dropdown--open { transform: scale(1) }

.overlayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900
}