.badge {
  display: flex;
  gap: .375rem;
  place-items: center;
  width: fit-content;
  padding: .375rem .75rem;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 4px;
}

.badge--hover { transition: .2s ease background-color, .2s ease transform }
.badge--hover:hover {
  background-color: var(--dark-lighter)!important
}
.badge--hover:active {
  transform: scale(0.95)
}