.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.875rem 1rem;
  border: none;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition: .2s ease color, .2s ease background-color, .2s ease transform
}

.button path {
  transition: .2s ease fill
}

.button--default:hover:not(.button--disabled) {
  background-color: var(--primary-lighter);
}

.button--default:hover path {
  fill: var(--container-bg)
}

.button--ghost {
  background-color: transparent;
  color: var(--primary)
}

.button--ghost:hover:not(.button--disabled) {
  color: var(--primary-lighter);
}

.button--outlined {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary)
}

.button--outlined:hover:not(.button--disabled) {
  border-color: var(--primary-lighter);
  color: var(--primary-lighter);
}

.button--outlined:hover path {
  fill: var(--primary-lighter)
}

.button--disabled {
  filter: grayscale(0.6);
  opacity: 0.65
}

.keep_case {
  text-transform: none
}