.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.875rem 1rem;
  border: none;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition: .2s ease color, .2s ease background-color, .2s ease transform
}

.button--default:hover {
  background-color: var(--primary-lighter);
}

.button--ghost {
  background-color: transparent;
  color: var(--primary)
}

.button--ghost:hover {
  color: var(--primary-lighter);
}

.button--outlined {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary)
}

.button--outlined:hover {
  border-color: var(--primary-lighter);
  color: var(--primary-lighter);
}

.keep_case {
  text-transform: none
}