.pagination {
  display: flex;
  gap: .5rem
}

.pagination__arrow {
  cursor: pointer;
}

.pagination__arrow path {
  transition: .2s ease fill
}

.pagination__arrow:hover:not(.pagination__arrow--disabled) path {
  fill: var(--primary-lighter)
}

.pagination__arrow--disabled {
  cursor: auto
}

.pagination__arrow--disabled path {
  fill: var(--container-bg)
}