#about {
  margin: 0;
  /* El degradado radial ahora se extiende mucho más, la parte oscura ocupa aún menos y los celestes/blanco se extienden más */
  /* background: radial-gradient(
    ellipse 250% 100% at 50% 0%,
    #0f2e44 0%,
    #0f2e44 2%,
    #016f9a 25%,
    #21c2e1 100%
  ); */
  background-color: #21c2e1;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.about__container {
  max-width: calc(100vw - 4rem)
}

.about__container,
.about_certifications {
  overflow: hidden;
}

.about_certifications {
  width: 100%;
  margin: 0 auto
}

.about_certification {
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.about_certification__content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
}

.about__content {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 4rem;
  padding-bottom: 4rem;
  align-items: center;
}

.about__content-text {
  max-width: 80%;
  margin: 0 auto;
}

.swiper-scrollbar {
  background-color: #ffffff20!important;
  opacity: 1!important;
}

.swiper-scrollbar-drag {
  background-color: var(--dark-lighter)!important
}

@media screen and (max-width: 1024px) {
  .about__content {
    padding-top: 2rem;
    grid-template-columns: 1fr
  }

  .about__content-text {
    max-width: 100%;
  }

  .about__container {
    min-width: 100%;
    max-width: 100vw
  }
}
