.home_container {
  display: grid;
  grid-template-columns: auto 1fr 0.75fr;
  gap: 1rem;
  padding-bottom: 1rem
}

.home__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.home__title {
  margin: 0
}

.home__rating {
  display: flex;
  align-items: center;
  gap: .5rem
}

.home__presentation {
  display: flex;
  padding: 0;
  width: 75%
}

.home__cta {
  display: flex;
  gap: .5rem
}

.social_buttons {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
}

.profile_presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.profile_presentation__caption {
  display: block;
  width: 100%;
  padding: .35rem 1rem;
  text-align: right;
  position: relative;
}

.profile_presentation__caption::before {
  content: '';
  position: absolute;
  bottom: calc(100% - 0.1rem);
  left: 0;
  width: 100%;
  height: calc(1rem + 0.1rem);
  background-image: linear-gradient(to top, #070a2b, transparent);
}

.profile_presentation__image {
  width: 100%;
  height: auto;
}

.profile_presentation--mobile {
  display: none
}

@media screen and (max-width: 768px) {
  .home_container {
    grid-template-areas: "content" "profile" "social";
  }

  .home__content {
    height: fit-content
  }

  .home__title {
    text-align: center
  }

  .home__presentation {
    width: 100%
  }

  .home__rating,
  .home__cta {
    justify-content: center
  }

  

  .social_buttons {
    flex-direction: row;
    place-items: center;
    justify-content: space-between
  }

  .profile_presentation {
    max-width: 100%;
  }

  .profile_presentation__caption {
    text-align: center
  }

  .profile_presentation__image { width: 50% }

  .profile_presentation:not(.profile_presentation--mobile) { display: none }
  .profile_presentation--mobile { display: flex }
}