.projects {
  padding-top: 4rem;
  background: radial-gradient(ellipse 300% 60% at 50% 0%, #21c2e1 0%, #21c2e1 15%, #fff 60%, #fff 100%);
}

.projects__content {
  display: flex;
  gap: .75rem;
  width: 100%;
  padding: 1rem 0;
}
.projects__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.projects__item {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: fit-content;
  padding: 0!important;
}

.projects__item--big {
  background-color: transparent!important;
  grid-template-columns: 6fr 4fr;
}

.projects__item_content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: .5rem
}

.projects__item--big .projects__item_content {
  padding-top: 0;
  justify-content: space-between;
}

@media screen and (max-width: 999px) {
  .projects__item--big {
    grid-template-columns: 1fr;
  }

  .projects__item--big .projects__item_content {
    padding-top: 1rem
  }
}

@media screen and (max-width: 768px) {
  .projects__content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projects__item {
    display: block
  }

  .projects__expertises {
    display: flex;
    flex-wrap: wrap;
    width: 100%
  }
}