.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  padding: 1.5rem 0;
}

.nav_buttons {
  display: flex;
  gap: 2rem
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: repeat(2, auto);
    padding-bottom: 1rem;
  }

  .nav_buttons {
    justify-content: space-between;
    display: none
  }
}