/*
  Fonts
*/
@font-face {
  font-family: 'Righteous';
  src: url('../assets/fonts/Righteous.ttf');
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-display: swap
}

*, *::before, *::after { box-sizing: border-box }

:root {
  --white: #ffffff;
  --primary: #21c2e1;
  --primary-lighter: #6ee9ff;
  --gold: #E1B721;
  --bg: #ffffff;
  --dark: #070a2b;
  --dark-lighter: #181c50;
  --container-bg: #cccccc;
  --gray: #8E92C2;
  --gray-lighter: #d6d9fd;
}

html {
  font-family: Rubik, Ubuntu, Cantarell, Fira Sans, Droid Sans;
  background-color: var(--bg);
  color: var(--dark);
  scroll-behavior: smooth;
  min-width: fit-content;
}

body {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 2rem;
}

hr {
  border: none;
  border-top: 1px solid #fff
}

.section {
  padding-top: 2rem;
  margin-top: 4rem
}

/* Inputs */
input, textarea {
  width: 100%;
  padding: .5rem 1rem;
  background-color: var(--container-bg);
  border: 1px solid transparent;
  border-radius: 4px;
  resize: none;
  transition: .2s ease border-color
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--gray);
}

input::placeholder, textarea::placeholder {
  opacity: 0.5;
  color: var(--gray-lighter)
}


/* Footer */
.footer {
  background-color: var(--bg);
  color: var(--dark);
  border: 1px solid var(--container-bg);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 2rem;
}

.footer__description {
  width: 100%;
  max-width: 720px
}

.footer__brands {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  width: 100%;
  color: #fff;
}

.footer__brand {
  display: flex;
  justify-content: center;
  margin: 0
}

.footer__brand img {
  width: 100%;
  height: auto;
}

.footer__brand--vertical {
  height: 100%;
  max-height: 128px;
}

.footer__brand--vertical img {
  width: auto;
  height: 100%;
}

.footer__credits {
  background-color: var(--bg);
  color: var(--dark);
  padding: 1.5rem;
  grid-area: credits;
  text-align: center
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 1rem;
  }

  .footer__content {
    grid-template-columns: 1fr;
  }

  .footer__brands {
    max-height: 128px;
    display: flex;
    justify-content: space-around
  }
}

.Toastify__toast {
  background-color: #33375e!important;
  color: #fff!important
}

.Toastify__close-button {
  color: #fff!important
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background: var(--bg)
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}

/*
  * Importing CSS
*/
@import url('./atoms/pagination.css');
@import url('./organisms/recommendation.css');

@import url('./pages/home/projects.css');
@import url('./pages/home/about.css');
@import url('./pages/home/contact.css');
