/*
  Fonts
*/
@font-face {
  font-family: 'Righteous';
  src: url('../assets/fonts/Righteous.ttf');
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-display: swap
}

:root {
  --heading: #070a2b;
  --container-bg: #292C51;
}

html {
  font-family: Rubik, Ubuntu, Cantarell, Fira Sans, Droid Sans
}
