/*
  Fonts
*/
@font-face {
  font-family: 'Righteous';
  src: url('../assets/fonts/Righteous.ttf');
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-display: swap
}

:root {
  --white: #ffffff;
  --primary: #21c2e1;
  --gold: #E1B721;
  --bg: #070a2b;
  --container-bg: #292C51;
  --gray: #8E92C2;
}

html {
  font-family: Rubik, Ubuntu, Cantarell, Fira Sans, Droid Sans;
  background-color: var(--bg);
  color: var(--white)
}
